<html>
    <head>
        <title>Web site on my AWS server</title>
    </head>
    <body>
        <h1>I did it with ANSIBLE</h1>
	----------------------------------<br>
        Host name: {{ ansible_hostname }}<br>
	OS: {{ ansible_os_family }}<br>
        Owner: {{ owner }}
    </body>
</html>
